{% extends 'base.html' %}
{% load staticfiles %}
{% block content %} 
  <header class="masthead d-flex">
    <div class="container text-center my-auto">
      <h1 class="mb-1">LIONS EDU</h1>
      <h3 class="mb-5">
        <em>멋사 새뜻톤 지역사회 2조</em>
      </h3>
            <a href="{% url 'login_mentor' %}" class="btn btn-primary btn-xl js-scroll-trigger">멘토</a>
        
        {% if user.is_authenticated %}
            <a href="{% url 'login_mentee'%}" class="btn btn-primary btn-xl js-scroll-trigger">멘티</a>         
        {% else %}

        {% endif %}
    </div>
    <div class="overlay"></div>
  </header>


<h1>Lion's Edu</h1>
    
    <div class="container">

        <div class="row home-card-section">
            <div class="col-md-6">
                <div class="home-card" style="width: 100%;">
                    <a href="{% url 'login_mentee' %}" target='_blank' role='button'
                        STYLE='text-decoration: none; color : black'>

                        <div class="card-body">
                            {% if user.is_authenticated %}
                            
                            <p class="card-text">학생</p>
                            <span>로그인 됨</span>
                            {% else %}
                            <span>로그인 안됨.</span>
                            {% endif %}
                        </div>
                    </a>
                </div>

                <div class="card-body">

                </div>
            </div>
            <div class="col-md-6">
                <div class="home-card" style="width: 100%;">
                    <a href="{% url 'login_mentor' %}" target='_blank' role='button'
                        STYLE='text-decoration: none; color : black'>

                        <div class="home-card-body">
                            {% if user.is_authenticated %}
                            
                            {% else %}
                            
                            <p class="card-text">선생</p>
                            
                            {% endif %}
 
                        </div>
                    </a>
                </div>
              

            </div>
        </div>
    </div>
    </div>
{% endblock %}

    