{% extends 'base.html' %}
{% load staticfiles %}
{% block content %} 
  <header class="masthead d-flex">
    <div class="container text-center my-auto">
      <h1 class="mb-1">LIONS EDU</h1>
      <h3 class="mb-5">
        <em>멋사 새뜻톤 지역사회 2조</em>
      </h3>
            <a href="{% url 'login' %}" class="btn btn-primary btn-xl js-scroll-trigger" style="width:300px"><strong>로  그  인</strong></a></a>
            <br>
            <br>
            <a href="{% url 'signup_mentor' %}" class="btn btn-primary btn-xl js-scroll-trigger">멘토 가입</a></a>
            
            <a href="{% url 'signup_mentee' %}" class="btn btn-primary btn-xl js-scroll-trigger">멘티 가입</a></a>
      
    </div>
    <div class="overlay"></div>
  </header>
{% endblock %}

    