<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="./mento.css">
</head>
<body>
    <div class="container">
            <div class="row">
                    <div class="col text-right">
            
                            <!-- <span class="glyphicon glyphicon-user" .sr-only aria-label></span> -->
                            <img class='img-mento' src='선생2.png'>
                    </div>
                    <div class="col">
                            이름:<input type="text" class="form-control" id="firstName" placeholder="" value="홍길동" required="" rows=5px >
                            나이:<input type="text" class="form-control" id="firstName" placeholder="" value="27" required="">
                            과목:<input type="radio" name='' checked>국
                            <input type="radio" name='' >영
                            <input type="radio" name='' >수
                            <br>연락처:<input type="text" class="form-control" id="firstName" placeholder="" value="010-1234-5678" required="">
                            지역:<input type="text" class="form-control" id="firstName" placeholder="" value="서울 노원구" required="">
                            성별:<input type="text" class="form-control" id="firstName" placeholder="" value="남" required="">
                    </div>
                </div>

    </div>
    
        
</body>
</html>