@font-face {
            font-family: 'S-CoreDream-9Black';
            src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-9Black.woff') format('woff');
            font-weight: normal;
            font-style: normal;
        }
.home-card-section {
    font-family: 'S-CoreDream-9Black';
    margin-top: 100px!important;
}
.home-card{
    font-family: 'S-CoreDream-9Black';
    background-color: #ffc107; height:500px;
}
.home-card-text{
    font-family: 'S-CoreDream-9Black';
    font-size:100px; 
    text-align: center; margin-top: 130px;}
 h1{
     font-size:200px; text-align:center;
      font-family: 'S-CoreDream-9Black';
}

.login_div{
    text-align:center;
    margin: 50px;
}

input[type="radio"] + label {
    color:#f2f2f2;
}

input[type="radio"] {
    display:none;
}

input[type="radio"] + label {
    color:#f2f2f2;
    font-family:Arial, sans-serif;
}

input[type="radio"] + label span {
    display:inline-block;
    width:19px;
    height:19px;
    margin:-2px 10px 0 0;
    vertical-align:middle;
    background:url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/check_radio_sheet.png) -38px top no-repeat;
    cursor:pointer;
}

input[type="radio"]:checked + label span {
    background:url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/check_radio_sheet.png) -57px top no-repeat;
}

.div_select {
    display: flex;
    align-items: center;
}

.glyphicon-user{font-size:100px; color:orange;}
@font-face { font-family: 'NanumSquareRound'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff'); font-weight: normal; font-style: normal; }
.col{font-family:'NanumSquareRound'; font-size:20px;}

.img-mento {
    margin-top:45px;
}
 