{% extends 'base.html' %}
{% load staticfiles %}
{% block content %} 
<br><br><br>
<div class="container">
    <div class="content-section-heading text-center">
        <h2 class="text-secondary mb-0">과외 신청 내역 보기</h3>
      </div>
    <div class="row">
      <div class="form-group" align="center">
                <div class="col-lg-4">
                  <a class="portfolio-item" href="">
                    <span class="caption">
                      <span class="caption-content">
                        <h1>{{mentee_name}}</h1>
                        <p class="mb-0">{{lesson.text}}</p>
                      </span>
                    </span>
                  </a>
                </div>
         
      </div>
    </div>
  </div>

{% endblock %}