{% extends 'base.html' %}

{% block content %}

{% if error %}
{{ error }}
<br>
<br>
{% endif %}

<h3 style="text-align: center">Login</h3>
<div class="login_div">
    
      <input type="radio" name="chk_info" value="mentor_check"/>멘토
      <input type="radio" name="chk_info" value="mentee_check"  checked/>멘티
        <input type="radio" aria-label="Radio button for following text input">
            
    
    <br>
        {% csrf_token %}
        Username:
        <br>
        <input name="username" type="text" value="">
        <br>
        Password:
        <br>
        <input name="password" type="password" value="">
        <br>
        <br>
        
        <a href="{%url 'main_mentor'%}"><input class="btn btn-primary" type="submit" value="Login"></a>
        <br>
        <br>
    </form>
</div>
  
  

{% endblock %}

