{% extends 'base.html' %}

{% block content %}

{% if error %}
{{ error }}
<br>
<br>
{% endif %}

<h1>Login</h1>

<form method="POST" action="{% url 'login_mentee'%}">

    {% csrf_token %}
    Username:
    <br>
    <input name="username" type="text" value="{{ product.username }}">
    <br>
    Password:
    <br>
    <input name="password" type="password" value="{{ product.password }}">
    <br>
    <br>
    <input class="btn btn-primary" type="submit" value="Login">
    <br>
    <br>
</form>
    <a href="{% url 'signup_mentee' %}"><input class="btn btn-primary" type="submit" value="Sign-up"></a>

{% endblock %}