{% extends 'base.html' %}
{% load staticfiles %}
{% block content %} 
<section class="content-section bg-primary text-center" id="services">
    <div class="container">
      <div class="content-section-heading">
        <h3 class="text-secondary mb-3">멘토 선택</h3>
        <h2 class="mb-3">원하는 멘토를 선택하세요</h2>
      </div>
      <div class="row">
       
        <div class="col-lg-4 col-md-6 mb-5 mb-lg-0">
        <form action="{% url 'srcfilter' %}" method="POST">
             {% csrf_token %}
          <h3>
            <strong>지역</strong>
          </h3>
      
          <span class="caption-content">
              <center><input type="radio" name="loc" id="loc1" value="seoul"><label for="loc1"><span></span>서울</label></center>
              <center><input type="radio" name="loc" id="loc2" value="kyeonggi"><label for="loc2"><span></span>경기</label></center>
              <center><input type="radio" name="loc" id="loc3" value="chungcheong"><label for="loc3"><span></span>충청</label></center>
              <center><input type="radio" name="loc" id="loc4" value="jeonra"><label for="loc4"><span></span>전라</label></center>
              <center><input type="radio" name="loc" id="loc5" value="kyeongsang"><label for="loc5"><span></span>경상</label></center>
          </span>
         
        </div>
        <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
         
          <h3>
            <strong>과목</strong>
          </h3>
          <span class="caption-content">
            <center>  <input type="radio" name="sub" id="sub1" value="korean"><label for="sub1"><span></span>국어</label></center>
            <center>  <input type="radio" name="sub" id="sub2" value="math"><label for="sub2"><span></span>수학</label></center>
            <center>  <input type="radio" name="sub" id="sub3" value="science"><label for="sub3"><span></span>과학</label></center>
            <center>  <input type="radio" name="sub" id="sub4" value="society"><label for="sub4"><span></span>사회</label></center>
            <center>  <input type="radio" name="sub" id="sub5" value="english"><label for="sub5"><span></span>영어</label></center>
         </span>
         
        </div>
        <div class="col-lg-3 col-md-6 mb-5 mb-md-0">
          
          <h3>
            <strong>성별</strong>
          </h3>
           <span class="caption-content">
              <input type="radio" name="gender" id="gender1" value="man"><label for="gender1"><span></span>남</label>
              <input type="radio" name="gender" id="gender2" value="woman"><label for="gender2"><span></span>여</label>
           </span>
        </div>
        <br>
          <div class="div_select">
            <div>
              <input type="submit" value="선택" class="btn btn-xl btn-light">
            </div>
        </div>
        </form>
      </div>
    </div>
  </section>
{% endblock %}